* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edf2ff;
  font-family: "Roboto Mono", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: #4263eb solid 4px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #00082f;
}

.username {
  font-family: "Roboto Mono", monospace;
  color: #00082f;
  font-size: 18px;
  opacity: 0.8;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4263eb;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: #364fc7;
}

footer {
  font-weigth: 500;
  font-size: 12px;
  color: #00082f;
  opacity: 0.6;
}

footer a {
  color: #00082f;
}
